In [17]:
dict = {1:{'name':"shubham kumar", 'age':22, 'status': "unemployed"},
        2:{'name' :"vikash bhardwaj",'age': 23, 'status': "employed"},
        3:{'name':"sarthak jadoun",'age': 21, 'status': "employed"},
        4:{'name':"shivam kumar", 'age':21, 'status': "self-employed"}} # key value both in quotes
print(dict)

{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}}

In [18]:
# Accesssing
print(dict)
print(dict[2])
print(dict[3])
print(dict[4]['name']) #key bhi quotes m

{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}}
{'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}
{'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}
shivam kumar

In [25]:
# adding , updating
dict[5]={"earning": 500000}
print(dict)
dict[5]['name'] = 'shashank patel'
print(dict)
dict[5]['status'] = 'employed'
print(dict)

{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}, 5: {'earning': 500000}}
{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}, 5: {'earning': 500000, 'name': 'shashank patel'}}
{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}, 5: {'earning': 500000, 'name': 'shashank patel', 'status': 'employed'}}

In [26]:
# deleting
print(dict)
del dict[5]['earning']
print(dict)

{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}, 5: {'earning': 500000, 'name': 'shashank patel', 'status': 'employed'}}
{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}, 5: {'name': 'shashank patel', 'status': 'employed'}}

In [27]:
# going through the data
print(dict)
print("_"*10)
for i in dict.keys():
  print(i,dict[i]['name'])

print("_"*10)
for i in dict.keys():
  print(i,dict[i]['name'], dict[i]['status'] )


print("_"*10)
for i in dict.items():
  print(i[0])

print("_"*10)
for i in dict.items():
  print(i[1])

print("_"*10)
for i in dict.items():
  print(i[1]["name"])

{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}, 5: {'name': 'shashank patel', 'status': 'employed'}}
__________
1 shubham kumar
2 vikash bhardwaj
3 sarthak jadoun
4 shivam kumar
5 shashank patel
__________
1 shubham kumar unemployed
2 vikash bhardwaj employed
3 sarthak jadoun employed
4 shivam kumar self-employed
5 shashank patel employed
__________
1
2
3
4
5
__________
{'name': 'shubham kumar', 'age': 22, 'status': 'unemployed'}
{'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed'}
{'name': 'sarthak jadoun', 'age': 21, 'status': 'employed'}
{'name': 'shivam kumar', 'age': 21, 'status': 'self-employed'}
{'name': 'shashank patel', 'status': 'employed'}
__________
shubham kumar
vikash bhardwaj
sarthak jadoun
shivam kumar
shashank patel

In [28]:
# marks
students = {1:{'name':"shubham kumar", 'age':22, 'status': "unemployed", "marks":{
        "Hindi": 85,"English": 92,"Maths": 78,"Social": 89,"Science": 95,"Computer": 90
    }},
        2:{'name' :"vikash bhardwaj",'age': 23, 'status': "employed","marks":{
        "Hindi": 90,"English": 88,"Maths": 95,"Social": 88,"Science": 78,"Computer": 82
    }},
        3:{'name':"sarthak jadoun",'age': 21, 'status': "employed","marks":{
        "Hindi": 80,"English": 84,"Maths": 93,"Social": 82,"Science": 70,"Computer": 88
    }},
        4:{'name':"shivam kumar", 'age':21, 'status': "self-employed","marks":{
        "Hindi": 96,"English": 90,"Maths": 99,"Social": 87,"Science": 90,"Computer": 81
    }}}


print(students)

print("_"*20)


for i in students.keys():
  print(i, students[i]["marks"])
print("_"*20)

print(students)
print("computer marks")
for i in students.keys():
  print(i, students[i]['marks']['Maths'])

{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed', 'marks': {'Hindi': 85, 'English': 92, 'Maths': 78, 'Social': 89, 'Science': 95, 'Computer': 90}}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed', 'marks': {'Hindi': 90, 'English': 88, 'Maths': 95, 'Social': 88, 'Science': 78, 'Computer': 82}}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed', 'marks': {'Hindi': 80, 'English': 84, 'Maths': 93, 'Social': 82, 'Science': 70, 'Computer': 88}}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed', 'marks': {'Hindi': 96, 'English': 90, 'Maths': 99, 'Social': 87, 'Science': 90, 'Computer': 81}}}
____________________
1 {'Hindi': 85, 'English': 92, 'Maths': 78, 'Social': 89, 'Science': 95, 'Computer': 90}
2 {'Hindi': 90, 'English': 88, 'Maths': 95, 'Social': 88, 'Science': 78, 'Computer': 82}
3 {'Hindi': 80, 'English': 84, 'Maths': 93, 'Social': 82, 'Science': 70, 'Computer': 88}
4 {'Hindi': 96, 'English': 90, 'Maths': 99, 'Social': 87, 'Science': 90, 'Computer': 81}
____________________
{1: {'name': 'shubham kumar', 'age': 22, 'status': 'unemployed', 'marks': {'Hindi': 85, 'English': 92, 'Maths': 78, 'Social': 89, 'Science': 95, 'Computer': 90}}, 2: {'name': 'vikash bhardwaj', 'age': 23, 'status': 'employed', 'marks': {'Hindi': 90, 'English': 88, 'Maths': 95, 'Social': 88, 'Science': 78, 'Computer': 82}}, 3: {'name': 'sarthak jadoun', 'age': 21, 'status': 'employed', 'marks': {'Hindi': 80, 'English': 84, 'Maths': 93, 'Social': 82, 'Science': 70, 'Computer': 88}}, 4: {'name': 'shivam kumar', 'age': 21, 'status': 'self-employed', 'marks': {'Hindi': 96, 'English': 90, 'Maths': 99, 'Social': 87, 'Science': 90, 'Computer': 81}}}
computer marks
1 78
2 95
3 93
4 99